spring:
  profiles:
    #local or dev or prod
    active: dev
    include: common, ftp-client, datasource, logging
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 8081
  ssl:
    enabled: true
    key-store: offlineMasking-test-server.p12
    key-store-password: xxx
    key-store-type: PKCS12
    key-alias: offlineMasking-test-server

---

spring:
  config:
    activate:
      on-profile: dev

server:
  port: 80
  ssl:
    enabled: true
    key-store: offlineMasking-test-server.p12
    key-store-password: xxx
    key-store-type: PKCS12
    key-alias: offlineMasking-test-server

---

spring:
  config:
    activate:
      on-profile: prod

server:
  port: 80
  ssl:
    enabled: true
    key-store: offlineMasking-test-server.p12
    key-store-password: xxx
    key-store-type: PKCS12
    key-alias: offlineMasking-test-server
